<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>의류 상품 상세 페이지</title>
</head>
<body>

의류 상품 상세 페이지    <a href="/list">[목록]</a> <br/>

idx : <span th:text="${clothes.idx}" />   <br/>
<span th:text="${clothes.group}" />   <br/>
<img th:src="|/${clothes.image}|" width="200" />   <br/>
<textarea rows="5" cols="40" readonly>[[${clothes.detail}]]</textarea><br/>

<a th:href="@{/updateForm/{idx}(idx=${clothes.idx})}">수정</a>

</body>
</html>