<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

상품 데이터 수정

<form action="/update" />
idx : <input type="text" readonly name="idx"  th:value="${c.idx}"><br/>
title : <input type="text" name="group" th:value="${c.group}"><br/>
image : <input type="text" name="image" th:value="${c.image}"> <br/>
<textarea rows="5" cols="40" name="detail" th:text="${c.detail}"> </textarea><br/>
<input type="submit" value="수정" />
</form>

</body>



</body>
</html>